body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root{
     /*Primary Colors*/

    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-init:hsl(37, 97%, 70%); 
    --instagram-final: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    /* light theme */
    --white: hsl(0, 0%, 100%); /* BG) */
    --very-pale-blue: hsl(225, 100%, 98%); /* Top BG Pattern */
    --light-grayish-blue: hsl(227, 47%, 96%); /* Card BG */
    --dark-grayish-blue: hsl(228, 12%, 44%); /* Text */
    --very-dark-blue: hsl(230, 17%, 14%); /* Text */
}

/* Header */

.header{
    background: var(--very-pale-blue);
    padding-bottom: 130px;
    padding-top: 2em;
    border-radius: 0 0 15px 15px;
}

h1{
    margin: 0;
    font-size: 1.7em;
}

.header-total{
    color: var(--dark-grayish-blue);
    margin: .5em 0;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-grayish-blue);
    padding-bottom: 1.5em;
}

.wrapper{
     padding: 0 25px;
}

.grid{
    display: grid;
    grid-row-gap: 25px;
}

/* Top Cards */

.top-cards{
   margin-top: -80px; 
}

/* Cards*/

.card{
    border-radius: 5px;
    overflow: hidden;
    background: var(--light-grayish-blue);
    text-align: center;
}

.card::before{
    content: "";
    height: 4px;
    background: var(--facebook);
    display: block;
}

.card.facebook::before{
    background: var(--facebook);
}

.card.twitter::before{
    background: var(--twitter);
}

.card.instagram::before{
    background-image: linear-gradient(to right, var(--instagram-init), var(--instagram-final));
}

.card.youtube::before{
    background: var(--youtube);
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-grayish-blue);
    font-size: .8em;
    font-weight: 700;
    margin-top: 25px;
}

.card-title img{
    margin-right: 7px;
}

.card-followers{
    margin-top: 20px;
}

.card-followers-number{
    font-size: 50px;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.card-followers-title{
    display: block;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    font-weight: 300;
    font-size: .7em;
    letter-spacing: 4px;
}

.card-today{
    color: var(--lime-green);
    font-size: .7em;
    font-weight: 700;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-today img{
    margin-right: 4px;
}